In [1]:
import pandas as pd

movies = pd.read_excel('movies.xlsx')

In [2]:
ott = pd.read_csv("ott.csv")

In [3]:
# Validate the data types.
print(movies.dtypes)
print(ott.dtypes)

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object
ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [4]:
# Determine the column names.
print(list(movies.columns))
print(list(ott.columns))

['Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors', 'Genres', 'Country', 'Language', 'Runtime']
['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+']

In [9]:
# Find table values that are numeric 

movies_num = movies.select_dtypes('number')

movies_num

       Year  IMDb  Rotten Tomatoes  Runtime
0      2010   8.8             0.87    148.0
1      1999   8.7             0.87    136.0
2      2018   8.5             0.84    149.0
3      1985   8.5             0.96    116.0
4      1966   8.8             0.97    161.0
...     ...   ...              ...      ...
16739  1980   6.2              NaN    120.0
16740  2001   4.7              NaN     90.0
16741  2013   5.7              NaN      NaN
16742  2017   6.6              NaN      NaN
16743  1950   NaN              NaN     32.0

[16744 rows x 4 columns]

In [10]:
#Delete the Year column from current analysis 

movies_analysis = movies_num.drop('Year', axis = 1)

In [11]:
# Calculate Q1 and Q3.
Q1 = movies_num.quantile(0.25)
Q3 = movies_num.quantile(0.75)

# View the output
print(Q1)
print(Q3)

Year               2000.00
IMDb                  5.10
Rotten Tomatoes       0.44
Runtime              82.00
Name: 0.25, dtype: float64
Year               2016.00
IMDb                  6.90
Rotten Tomatoes       0.88
Runtime             104.00
Name: 0.75, dtype: float64

In [12]:
# Determine the descriptive statistics.
movies_num.describe()

               Year          IMDb  Rotten Tomatoes       Runtime
count  16744.000000  16173.000000      5158.000000  16152.000000
mean    2003.014035      5.902751         0.654285     93.413447
std       20.674321      1.347867         0.266145     28.219222
min     1902.000000      0.000000         0.020000      1.000000
25%     2000.000000      5.100000         0.440000     82.000000
50%     2012.000000      6.100000         0.710000     92.000000
75%     2016.000000      6.900000         0.880000    104.000000
max     2020.000000      9.300000         1.000000   1256.000000

In [17]:
Interquartile_range = ((Q3 - Q1)

print(Data_range)

Year               16.00
IMDb                1.80
Rotten Tomatoes     0.44
Runtime            22.00
dtype: float64

In [19]:
min_num = movies_num.min()
max_num = movies_num.max()

Range = max_num - min_num 

print(Range)

Year                118.00
IMDb                  9.30
Rotten Tomatoes       0.98
Runtime            1255.00
dtype: float64